body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FBF5F3;
}

/* .name {
    background-color: darkcyan; */
    /* float: left; */
    /* /* width: 150px; */
    /* height: 75px;
    color: white;
    font-size: 26px;
    text-align: center;
    padding: 20px;
} */ 

#navbar {
background-color: #333745;
color: white;
font-size: 32px;
padding-left: 10px;

}

.nav-item {
    background-color: #333745;
    color: #E63462;  
}

#navbar-menu {
    background-color: #333745;
    color: #E63462; 
}

#bio-box {
    margin-top: 50px;
    margin-bottom: 40px;
    color:  #333745;
}

#carousel-container {
    margin-bottom: 50px;
}

#about-me-text {
    padding-left: 35px;
    padding-top: 40px;
    font-size: 16pt;
}

#bio-text {
    padding-top: 20px;
    padding-left: 35px;
    font-size: 14pt;
}

.carousel-caption { 
    bottom:-70px;
    color: #E63462;
 }

 .carousel-item { 
     padding-bottom: 70px; 
    }

a:link {
    color: #E63462;
}

#contact-box {
    font-size: 18px;
    margin-top: 30px;

}

.form-margin {
    margin-top: 40px;
}

h3 {
    padding-bottom: 20px;
}


/* .mt-4 {
    margin-top: ($spacer * 1.5) !important;
  }

.mb-5 {
    margin-bottom: ($spacer * 3) !important;
  }

.py-2 {
    padding-top: ($spacer * .5) !important;
    padding-bottom: ($spacer * .5) !important;
  } */



    /* #about-box {
    width: 600px;
    background-color: white; 
    margin-top: 25px;
    margin-bottom: 300px;
} */

/* #about-pic {
    margin: 20px;
    width: 300px;
    height: 300px;
} */

/* img {
    float: left;
    width: 400px;
    height: 400px;
} */


/* h4 {
    font-size: 18px;
    padding-top: 20px;
}  */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333745;
    color: white;
    height: 50px;
    text-align: left;
    padding-top: 10px;
}

h6 {
    padding-left: 30px;
    padding-top: 7px;
}