body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FBF5F3;
}

#navbar {
background-color: #333745;
color: white;
font-size: 32px;
padding-left: 10px;
}

.nav-item {
    background-color: #333745;
    color: #E63462;  
}

#navbar-menu {
    background-color: #333745;
    color: #E63462; 
}

#bio-box {
    margin-top: 50px;
    margin-bottom: 40px;
    color:  #333745;
}

#carousel-container {
    margin-bottom: 50px;
}

#about-me-text {
    padding-left: 35px;
    padding-top: 40px;
    font-size: 16pt;
}

#bio-text {
    padding-top: 20px;
    padding-left: 35px;
    font-size: 14pt;
}

.carousel-caption { 
    bottom:-70px;
    color: #E63462;
 }

 .carousel-item { 
     padding-bottom: 70px; 
    }

a:link {
    color: #E63462;
}

.collapse {
    color: #E63462;
}

img { 
    max-width: 100%; height: auto; 
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23bbb' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23bbb' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.form-margin {
    margin-top: 40px;
}

h3 {
    padding-bottom: 20px;
}

.contact {
    font-size: 18px;
    padding-bottom: 20px;
}

#contact-me {
    margin-top: 50px;
    margin-bottom: 30px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333745;
    color: white;
    height: 50px;
    text-align: left;
    padding-top: 10px;
}

h6 {
    padding-left: 30px;
    padding-top: 7px;
}

@media screen and (max-width: 480px) {
    #bio-box  { display: block; }
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }